<head>
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
  <link rel="stylesheet" href="/stylesheets/defaultTab.css">
</head>

<div class="animated fadeInDown" style="overflow: hidden">
  <div class="navigator">
    <div class="logo">Socio Konnect</div>
  </div>

  <div class="navigator me" id="me">
      <img src={{profilePicture}} alt="profile pic" width="125px" class="circle left pic z-depth-3 dropdown-trigger" data-target='dropdown1' style="display: inline-block" id="pic">
    <div class="name" id="name"><a href='#' class="dropdown-trigger" data-target='dropdown1'>{{username}}</a></div>
  </div>
</div>

<ul id='dropdown1' class='dropdown-content'>
  <li><a href="#!" class="center-align">Profile</a></li>
  <li><a href="/auth/logout" class="waves-effect waves-light center-align"><i class="fas fa-sign-out-alt fa-fw" data-fa-transform="shrink-1 left-3"></i>Logout</a></li>
</ul>

<div class="dashboard z-depth-3 animated fadeInUp">
  <div class="row select">
    <div class="col s12">
      <ul class="tabs" id="tabs">
        <li class="tab col s2"><a class="facebook" href="#facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li class="tab col s2"><a href="#google" class="google"><i class="fab fa-google"></i></a></li>
        <li class="tab col s2"><a href="#github" class="github"><i class="fab fa-github"></i></a></li>
        <li class="tab col s2"><a href="#twitter" class="twitter"><i class="fab fa-twitter"></i></a></li>
        <li class="tab col s2"><a href="#linkedin" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="tab col s2"><a href="#pinterest" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
      </ul>
    </div>

    <div class="content z-depth-3">
      <div id="facebook" class="col s12">{{> facebook}}</div>
      <div id="google" class="col s12">{{> google}}</div>
      <div id="github" class="col s12">{{> github}}</div>
      <div id="twitter" class="col s12">{{> twitter}}</div>
      <div id="linkedin" class="col s12">{{> linkedin}}</div>
      <div id="pinterest" class="col s12">{{> pinterest}}</div>
    </div>
  </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#generalMsg" id="message"><i class="fas fa-pen-nib fa-2x" data-fa-transform="down-4"></i></a>

<!-- Modal Structure -->
<div id="generalMsg" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="center-align">Create Msg :)</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="globalMsg" class="materialize-textarea"></textarea>
            <label for="globalMsg">Message</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-purple btn-flat right">Send<i class="fas fa-share-square" data-fa-transform="shrink-2 right-6"></i></a>
    <a href="#!" class="modal-close waves-effect waves-purple btn-flat left">Customize<i class="fas fa-edit" data-fa-transform="shrink-2 right-6"></i></a>
  </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#sender-confirm" id="sender"><i class="fas fa-share fa-2x" data-fa-transform="down-3"></i></a>

<!-- Modal Structure -->
  <div id="sender-confirm" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="center-align">Confirmation !!</h4>
      <ul class="collapsible" id="confirm-content">
        <li>
          <div class="collapsible-header"><i class="fab fa-facebook-f fa-fw confirm-icons" data-fa-transform="down-2"></i>Facebook</div>
          <div class="collapsible-body"><span></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fab fa-google fa-fw confirm-icons" data-fa-transform="down-2"></i>Google</div>
          <div class="collapsible-body"><span></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fab fa-github fa-fw confirm-icons" data-fa-transform="down-2"></i>GitHub</div>
          <div class="collapsible-body"><span></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fab fa-twitter fa-fw confirm-icons" data-fa-transform="down-2"></i>Twitter</div>
          <div class="collapsible-body"><span></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fab fa-linkedin-in fa-fw confirm-icons" data-fa-transform="down-3"></i>LinkedIn</div>
          <div class="collapsible-body"><span></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fab fa-pinterest-p fa-fw confirm-icons" data-fa-transform="down-3"></i>Pinterest</div>
          <div class="collapsible-body"><span></span></div>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-purple btn-flat right">Send<i class="fas fa-share-square" data-fa-transform="shrink-2 right-6"></i></a>
      <a href="#!" class="modal-close waves-effect waves-purple btn-flat left">Edit<i class="fas fa-edit" data-fa-transform="shrink-2 right-6"></i></a>
    </div>
  </div>

{{!--
<div class="col s12 m8 l6 center-align">
  <div class="card-panel z-depth-1 custom">
    <div class="row">
      <div class="col s12 m4 l3">
        <img src={{profilePicture}} alt="profile pic" width="125px" class="circle materialboxed center-align" style="display: inline-block"> <!-- notice the "circle" class -->
      </div>
      <div class="col s12 m8 l9">
        <span class="black-text">
          <h5>Welcome {{username}}</h5>
          <p><strong>{{email}}</strong></p>
          <p class="right-align" style="text-transform: capitalize;"><i> - {{provider}}</i></p>
        </span>
      </div>
    </div>
  </div>
</div>

<div style="max-width: 700px">
  <a href="/auth/logout" class="waves-effect waves-light btn left"><i class="fas fa-sign-out-alt fa-fw" data-fa-transform="shrink-1 left-3"></i>Logout</a>

 <!-- Modal Trigger -->
  <a href="#removeWarning" class="waves-effect waves-light red darken-3 btn right modal-trigger"><i class="far fa-times-circle fa-fw" data-fa-transform="shrink-1 left-3"></i>Remove</a>
</div>

<!-- Modal Structure -->
  <div id="removeWarning" class="modal">
    <div class="modal-content">
      <h4>Confirmation</h4>
      <p><strong>Are you sure you want to remove your account :(</strong></p>
      <p><strong>User Name:</strong> {{username}}</p>
      <p><strong>Email:</strong> {{email}}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a href="/auth/remove" class="modal-close waves-effect waves-light red darken-3 btn right modal-trigger"><i class="far fa-times-circle fa-fw" data-fa-transform="shrink-1 left-3"></i>Remove</a>
    </div>
  </div> --}}

<script src="/javascript/dashboard.js"></script>

<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
